/* globals.css */
:root {
  --color-background: #f9f0e5; /* Fondo blanco */
  --color-primary: #85603f; /* Marrón suave para títulos */
  --color-secondary: #a68c6b; /* Marrón claro para secciones */
  --color-accent: #c4a484; /* Marrón crema para detalles */
  --color-text: #333333; /* Texto oscuro */
  --color-text-light: #666666; /* Texto secundario */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
/* globals.css */

.title-large {
  font-size: 3.5rem; /* Cambia este valor según el tamaño que desees */
  font-weight: bold;
  color: var(--color-primary); /* Usando un color de la paleta */
}

.paragraph-large {
  font-size: 2.25rem; /* Cambia este valor según el tamaño que desees */
  line-height: 1.6;
  color: var(--color-secondary); /* Usando un color de la paleta */
}
